.navbar {
  overflow: hidden;
  background-color: #537895;
  background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navibar p{
  float: right;

}
.main{
  padding: 15px;
  margin-top: 50px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 46px;
  color: black;
  
}
.wel{
  border: none;
  background-color: #9eabe4;
  background-image: linear-gradient(315deg, #9eabe4 0%, #77eed8 74%);
  padding: 15px;
  font-size: 36px;
  border-radius: 20px;
  
}
.pgmno{
  border: none;
  margin: 15px;
  background-color: #9eabe4;
  background-image: linear-gradient(315deg, #9eabe4 0%, #77eed8 74%);
  padding: 5px;
  font-size: 30px;
  text-align: center;
  border-radius: 15px;
}


.program_head{
  padding: 15px;
  font-family: 'Times New Roman', Times, serif;
  border:none;
  background-color: white;

}
.navbar a:hover {
  background: white;
  color: black;
}
body{
  margin:0;
/*  background-image: linear-gradient(315deg, #6a93cb 25%, #a4bfef 74%);*/
  background: url("images/background.jpg");
  scroll-behavior: smooth;
  background-attachment: fixed;
  font-family: 'Trebuchet MS';
}


.center{
  font-family: 'trebuchet MS';
  text-align: center;
}
.head{
  background-color: #fee2f8;
  background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);  
  font-size: 26px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

.container{
  display: flex;
  flex-wrap:wrap;
  
}
.item{
  border-radius: 15px;
  flex: 1 1 250px;

}
.button {
  background-image: linear-gradient(315deg, #734ae8 0%, #89d4cf 74%);
  border: none;
  padding: 15px;
  text-align: center;
  font-size: 16px;
  margin:20px 15px;
  cursor: pointer;
  
  
}
pre{
  text-align: left;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

pgm{
  border:0px solid;
  margin:15px;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  font-size: 20px;
  padding:15px 15px;
  padding-left: 5%;
  border-radius: 15px;
  display:flex;
  flex-wrap: wrap;
}
right{
  border:none;
  margin:15px;
  color: whitesmoke;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  font-size: 15px;
  padding:10px 10px;
  display: flexbox;
  flex-wrap: wrap;
  text-align: center;
  border-radius: 15px;
  min-width: 50px;
}
button:hover{text-decoration: underline;}


/* desert scheme ported from vim to google prettify */
pre.prettyprint { display: block; background-color: #333 }
pre .nocode { background-color: none; color: #000 }
pre .str { color: #ffa0a0 } /* string  - pink */
pre .kwd { color: #f0e68c; font-weight: bold }
pre .com { color: #87ceeb } /* comment - skyblue */
pre .typ { color: #98fb98 } /* type    - lightgreen */
pre .lit { color: #cd5c5c } /* literal - darkred */
pre .pun { color: #fff }    /* punctuation */
pre .pln { color: #fff }    /* plaintext */
pre .tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
pre .atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
pre .atv { color: #ffa0a0 } /* attribute value - pink */
pre .dec { color: #98fb98 } /* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre.prettyprint { background-color: none }
  pre .str, code .str { color: #060 }
  pre .kwd, code .kwd { color: #006; font-weight: bold }
  pre .com, code .com { color: #600; font-style: italic }
  pre .typ, code .typ { color: #404; font-weight: bold }
  pre .lit, code .lit { color: #044 }
  pre .pun, code .pun { color: #440 }
  pre .pln, code .pln { color: #000 }
  pre .tag, code .tag { color: #006; font-weight: bold }
  pre .atn, code .atn { color: #404 }
  pre .atv, code .atv { color: #060 }
}
@media screen and (max-width:720px) {
.head{
  font-size: 15px;
  position: inherit;
}
.botton{
  font-size: 8px;
  margin:auto;
  display: flex;
  flex-wrap:wrap ;
}
.main{
  width:fit-content;
}

.navbar a{
  font-size: 24px;
}
right{
  font-size: 10px;
  padding: 5px 5px;
}
pre{
  font-size: 10px;
}

@media screen  and (min-width:721px) {
.botton{
  font-size: 12px;
}
  
}
  
}


