body {
    background-color:black;
  }
  
  h1 {
    color: black;
    background-color:antiquewhite ;opacity: 0.6;
    text-align: center;
    font-size: 36px;
   

    }
  p{
    color:royalblue;
    background-color: blanchedalmond;
    text-align: center;
    font-size: 36px;
    background-size: 200% 100%;
    -ms-text-size-adjust:auto;
  }
  @media screen and (min-width: 601px) {
   pre{
      font-size: 30px;
    }
  }
  
  @media screen and (max-width: 600px) {
   pre {
      font-size: 15px;
   }
  }
  pre{
      color:black;
      background-color: aqua;
      text-align: left;
      background-size: 30,10;
      font-size:20 px;
     -ms-text-size-adjust:auto;

  }

  h6{
    color:black;
    background-color: white;
    text-align: center;
    

  }